@model IEnumerable<ColonyMuhalla>
@{
    ViewBag.Title = "Colony/Muhalla Name";
    ViewBag.PageTitle = "Colony/Muhalla Name";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int i = 1;
}
<div class="card">
    <div class="card-header">
        <a href="/LocationMaster/ColonyMuhallaCreate" class="btn btn-success"><i class="bi bi-plus"></i> Add</a>
    </div>
    <div class="card-body table-responsive">
        <table id="colonymuhalla" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr class="text-nowrap">
                    <th>S. No</th>
                    <th>Country Name</th>
                    <th>State Name</th>
                    <th>City Name</th>
                    <th>Colony Name</th>
                    <th>PinCode</th>
                    <th>Zone</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="text-nowrap">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@(i++)</td>
                        <td>@item.CountryName</td>
                        <td>@item.StateName</td>
                        <td>@item.CityName</td>
                        <td>@item.ColonyName</td>
                        <td>@item.PinCode</td>
                        <td>@item.Zone</td>
                        <td>@item.Status</td>
                        <td>
                            <a href="/LocationMaster/ColonyMuhallaEdit/@item.Id" class="text-purple me-2"><i class="bi bi-pencil"></i></a>
                            <a href="/LocationMaster/ColonyMuhallaDelete/@item.Id" onclick="return confirm('Are you sure want to delete?')" class="text-danger"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>

        $('#colonymuhalla').DataTable({
            "scrollX": true
        });

    </script>
}
