@model UserLogin
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Admin Login</title>
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
    <link href="/AdminLayouts/css/bootstrap.min.css" rel="stylesheet">
    <link href="/AdminLayouts/css/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/AdminLayouts/css/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/AdminLayouts/css/style.css" rel="stylesheet">
</head>

<body>

    <main>
        <div class="container">

            <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                            <div class="card mb-3">

                                <div class="card-body">

                                    <div class="pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                                        <p class="text-center small">Enter your username & password to login</p>
                                    </div>

                                    <form class="row g-3" method="post">

                                        <div class="col-12">
                                            @Html.LabelFor(m => m.Username, new { @class = "form-label text-start" })
                                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-12 mb-3">
                                            @Html.LabelFor(m => m.Password, new { @class = "form-label text-start" })
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-12">
                                            <button class="btn btn-primary w-100" type="submit">Sign In</button>
                                        </div>
                                        <div class="col-12 text-center">
                                            <a href="/" class="link-primary">Back To Home</a>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

        </div>
    </main>
    <script src="/AdminLayouts/js/jquery-3.6.3.min.js"></script>
    <script src="/AdminLayouts/jquery-validate/jquery.validate.min.js"></script>
    <script src="/AdminLayouts/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @if (TempData["datachange"] != null)
    {
        <script type="text/javascript">
            $(function () {
                alert('@TempData["datachange"]');
            });
        </script>
    }
</body>

</html>